Lab12-RandR/resources/TradeServ-0.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.BPMDemo.com/Employee" xmlns:tns="http://www.BPMDemo.com/Employee">
	<xsd:complexType name="tradeType">
		<xsd:sequence>
			<xsd:element name="tradeOrderID" type="xsd:string"/>
			<xsd:element name="customerID" type="xsd:string"/>
			<xsd:element name="tradeStock" type="xsd:string"/>
			<xsd:element name="tradeAmount" type="xsd:string"/>
        	</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="tradeOrder" type="tns:tradeType"/>
</xsd:schema>